<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="IDCount" value="1"/>
      <add key="ExtFacesPath" value="D:\\Courses\\"/>
      <add key="h1FilePath" value="D:\Result\h1FilePath\h1"/>
      <add key="h2FilePath" value="D:\Result\h1FilePath\h2"/>
      <add key="h3FilePath" value="D:\Result\h1FilePath\h3"/>
	  <add key="coursesPath" value="D:\\Courses\\" /> 
    </appSettings>
</configuration>